<div class="container">
  <div class="row">
    <div class="col-md-8 col-offset-3">
      <h1 class="text-center"><%= t "users.admin" %></h1>
      <%= paginate @admin_users %>
      <% @admin_users.each do |user| %>
        <div class="well">
          <ul>
            <li><%= t "users.name" %>: <%= link_to user.name, user_path(user) %></li>
            <li><%= t "users.email" %>: <%= user.email %></li>
            <% if !(user.id == 1) %>
              <%= link_to t("ad.remove"), set_admin_user_path(user, is_admin: false),
                method: :put, data: {confirm: t("ad.sure?")} %>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h1 class="text-center"><%= t "users.list" %></h1>
      <%= paginate @users %>
      <% @users.each do |user| %>
        <div class="well">
          <ul>
            <li><%= t "users.name" %>: <%= link_to user.name, user_path(user) %></li>
            <li><%= t "users.email" %>: <%= user.email %></li>
            <%= link_to user, method: :delete, data: {confirm: t("users.delete?")} do %>
              <button type="button" class="close del_user" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <% end %>
            <li>
              <%= link_to t("ad.set"), set_admin_user_path(user, is_admin: true),
                method: :put, data: {confirm: t("ad.sure?")} %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
